/* STANDARD STYLING */
* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 150;
    scroll-behavior: smooth;
    font-size: 19px;
}
h1, h2, h3, h4, h5{ font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}
h2{ font-size: 5em;}
h3{ font-size: 3em;}
h4 { font-size: 2em;}
h2:hover {font-size: 5.5em;}
h3:hover {font-size: 3.5em;}
h4:hover {font-size: 2.5em;}
h2:hover, h3:hover, h4:hover{transition: 0.3s;}
.my-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.my-text-big { font-size: 20px;}
.my-text-large{ font-size: 22px;}
.my-text-bold { font-weight: 350!important;}
.my-responsive-height { height: 50vh;}
.my-responsive-text-align { text-align: center;}
.my-responsive-stick { position: unset;}
.my-image-card {
    width: 100vw;
    height: 60vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.my-customer-card {
    width: 100vw;
    height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.my-full-size {width: 100%; height: 100%;}
.my-black-opacity { background-color: rgba(0,0,0, 0.4)!important;}
.my-card-border {  border-style: solid; border-color: white; border-width: 7px;}
.my-card-flex {  flex-direction: column; justify-content: space-around;}
.my-text-overflow { overflow: hidden; text-overflow: ellipsis;}
.my-transition { transition: 0.5s;}
.my-hover-greyscale-off:hover {filter: none;}
/* ADDITIONAL STYLING FOR ELEMENTS */
#header {
    transition: 0.3s;
    max-height: 10vh;
}
#logo {
    max-height: 7vh;
}
/* nav bar-mobile */
.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}
.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    margin-top: 30px;
} 
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 40px;
}

#home h2{ padding-top: 0vh;}

/* desktop only */
@media only screen and (min-width: 600px) {
    /* STANDARD CSS FOR DESKTOP */
    .my-responsive-height { height: 100vh;}
    .my-responsive-text-align { text-align: justify;}
    .my-responsive-stick { position: sticky; top: 10vh;}
    .w3-row { display: block;}
    .my-image-card { width: 25vw; height: 70vh;}
    .my-customer-card { width: 25vw; height: 50vh;}

    /* ADDITIONAL ELEMENTS */
    #home{
        height: 100vh;
    }
    #home h2{
        padding-top: 20vh;
    }
}